{% layout 'layout.liquid' %}
{% block content %}

<div class="login-container bgcover">
    <div class="bg"></div>
    <form class="login-form" action="/auth/signup" method="POST">
        <fieldset>
            <legend class="form-legend">Sign Up</legend>

            <input type="text" name="username" placeholder="username" class="input-form form-control" required>

            <input type="password" name="password" placeholder="enter password" class="input-form form-control" required>
        </fieldset>
        <input type="submit" value="Create Account" class="form-btn btn btn-success">
    </form>
</div>
{% endblock %}