{% layout "layout.liquid" %}
{% block content %}

<div class="home-container bgcover">
  <div class="bg"></div>
  <div class="description"><span class="logo" >Talkee</span> a place to discuss anything movies</div>
</div>

{% endblock %}