{% layout "layout.liquid" %}
{% block content %}

<div class="home-container">
    <form action="/movie/search" method="POST">
        <input
        name="movieSearch"
        placeholder="Movie Title">
      <button type="submit">Search</button>
  </form>
</div>

{% endblock %}