{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000c0;">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><span class="logo">Talkee</span></a>
        {% if loggedIn %}
        <div class="username text-light">User: {{username}}</div>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <a href="/social" class="nav-link text-light">Social</a>
                <form id="inTheaters" action="/movie/inTheaters" method="POST">
                    <a class="nav-link text-light" href="javascript:{}" onclick="document.getElementById('inTheaters').submit();">In Theaters</a>
                </form>
                
                <a href="/movie/profile" class="nav-link text-light">My Profile</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
                <form class="d-flex" action="/movie/search" method="POST">
                    <input
                    class="form-control me-2"
                    type="search"
                    name="movieSearch"
                    placeholder="Movie Title">
                  <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                  </button>
              </form>
  
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}