{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1f1111;">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><span class="logo">Talkee</span></a>
        {% if loggedIn %}
        <a href="/examples/mine" class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <a href="/social" class="nav-link text-light">Social</a>
                <a href="/movie/profile" class="nav-link text-light">My Profile</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
                <form class="d-flex" action="/movie/search" method="POST">
                    <input
                    class="form-control me-2"
                    type="search"
                    name="movieSearch"
                    placeholder="Movie Title">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>


                
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}