{% layout 'layout.liquid'%}
{% block content %}
<div class="col-md-6">
    <form action="/comments/add" method="POST">
        <fieldset>
            <legend>Add Comment</legend>
            <label class="form-label">Comment: </label>
            <input type="text" class="form-control" name="note" placeholder="enter comment here...">
        </fieldset>
        <input type="submit" class="btn btn-success" value="Add Comment">
    </form>
    <!-- comment container -->
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- loops over the comments -->
            <!-- for every comment render a comment.liquid block -->
            {% for comment in comments %}
                {% render '../comment.liquid', comment %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}