
.show-img,.index-img {
    width: 250px;
    height: 370px;
    transition: height 0.3s;
    background-color: black;
    padding: 3px;
}


.index-img:hover {
    opacity: 0.95;

}

.show-container,.movie-btns,.theater-movie {
    display: flex;
}


.theater-movie:hover {
    opacity: 0.8;
    transition: 0.6s;
}



.logo {
    font-weight: bold;
    color: white;
    background-color: rgb(13, 112, 112);
    padding: 7px;
    border-radius: 5px;
    
}
.theater-infoChild {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 5px;

}

.card-header {
    text-align: center;
}

.movie-btns {
    justify-content: center;
}

.movie-btn {
    margin: 0 10px;
}
