@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.index-img,.theater-img {
    width: 225px;
    height: 345px;
    transition: height 0.3s;
    background-color: black;
    padding: 3px;
}

.show-img {
    width: 390px;
}

.show-title {
    font-size: 50px;
    word-wrap: break-word;
    white-space: normal;
    width: 71%;
}

.imdb-logo {
    background-color: rgb(245,197,24);
    color: black;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.show-subtitle {
    font-size: 20px;
    color: rgb(179, 178, 178);
    margin-top: 15px;
    margin-bottom: 30px;
}

.username {
    margin-right: 10px;
    font-size: 15px;
}

strong {
    font-size: 25px;
}
.rating {
    font-size: 20px;
    position: relative;
    left: 75%;
    top: -8%;
}

.plot {
    font-size: 30px;
}

li {
    list-style: none;
}

.d-flex {
    margin-left: 950px;

}

.display-3 {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.theater-container,.profile-container,.show-container {
    background-color: rgba(13, 112, 112, 0.829);
}

.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form-legend {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-form {
    background-color: rgba(13, 112, 112, 0.692);
    padding: 50px;
    width: 450px;
    height: 400px;
    color: white;
}

.form-btn,.input-form {
    margin: 20px 0;
}


.index-img:hover {
    opacity: 0.90;

}

.show-container,.movie-btns,.post-btns {
    display: flex;
}

.show-container {
    justify-content: center;
    color: white;
    flex-direction: row;
    background-color: cover;
}

.show-display {
    display: flex;
}

.show-info {
    background-color: rgb(31,31,31);
    margin-top: 50px;
    padding: 40px 25px;
}


.card-body {
    background-color: rgba(0, 0, 0, 0.466);
}

.card-footer,.card-header {
    background-color: rgb(13, 112, 112);
    color: white;
}

.theater-movie:hover {
    opacity: 0.8;
    transition: 0.6s;
}



.logo {
    font-weight: bold;
    color: white;
    background-color: rgb(13, 112, 112);
    padding: 7px;
    border-radius: 5px;
    
}



.theater-infoChild {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 5px;

}

.card-header {
    text-align: center;
}

.movie-btns {
    justify-content: center;
}

.movie-btn {
    margin: 0 10px;
}

.movie {
    margin: 20px 0;
}

.movie-info {
    width: 500px;
    height: 500px;
}

.bg {
    background: url('./images/homepage_background.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bgcover {
    background: linear-gradient(180deg, rgba(0,0,0,0.913624824929972) 0%, rgba(13, 112, 112,10%) 25%, rgba(0,0,0, 0.774) 98%);
    z-index: 1;
    height: 100vh;
    background-size: 100% 100%;
}

.description {
    z-index: 9;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-title {
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
}

.social-container {
    background-color: rgba(13, 112, 112, 0.829);
}

.post-text {
    color: white;
    font-size: 20px;
}

.edit-container {
    background-color: rgba(13, 112, 112, 0.829);
    height: 100vh;
}

.comment-form {
    width: 500px;
    margin-left: 250px;
    color: rgb(255, 255, 255);
}