{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h2 class="display-6">All My Movies</h2>
        <div class="row">
            {% for movie in movies %}
            <div class="movie" style="width: 18rem;">
                <h5 class="card-header">{{ movie.title }}</h5>
                <div class="card-body">
                    <img class="show-img" src="{{movie.img}}" alt="{{movie.title}}">

                    <a href="" class="btn btn-info">
                        View {{ movie.title }}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}